#div1{
  background-color: white;
  display: flex;
  height:90px ;
  width: 100%;
}
#div11{
  background-color: white;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  float: left;
  height: 80px;
}
#div12{
  background-color: white;
  height: 60px;
  width: 800px;
  margin-left: 120px;
  margin-right: 0px;
  margin-top: 8px;
  margin-bottom:0px ;
}
#search{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 26px;
  width: 180px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px gray solid;
  font-size: 15px;
}
#from{

  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  height: 26px;
  width: 140px;
  color: gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px gray solid;
  font-size: 15px;
}
#to{
  
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  height: 26px;
  width: 140px;
  color: gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px gray solid;
  font-size: 15px;
  
}
#submit{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 47px;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px gray solid;
  background-color: rgb(82, 209, 168);
  color: white;
  font-size: 15px;
}
#div13{
background-color: white;
margin-left: 100px;
margin-right: 10px;
margin-top: 30px;
}

#div13 a{
text-decoration: none;
font-size: 20px;
color: gray;
font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#div2{
background-color: rgb(244, 244, 244);
height:50px ;
width: 100%;
}
#div21{
padding: 10px;
margin-left: 220px;
}
#div21 a{
text-decoration: none;
padding: 20px;
font-size: 20px;
color: gray;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div21 ul{
list-style-type: none;
padding: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
overflow: hidden;
}
#div21 li{
float: left;
}
#div21 a:hover{
  background-color: black;
  color: white;
}
#div3{
margin-top: 0px;
margin-bottom: 10px;
margin-right: 150px;
margin-left: 65px;

}



#div4{
margin-left: 20px;
}
#div5{
margin-left: 60px;

}
#div51{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;

}
#div511{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 00px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div511:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div512{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div512:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div513{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div513:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div514{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div514:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div6{
margin-left: 50px;

}
#div61{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;

}
#div611{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 500px;
width: 650px;

}
#view{
  margin-left: 500px;
  margin-top: 5px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgb(82, 209, 168);
  color: rgb(82, 209, 168);
  font-size: 19px;
  background-color: white;
}
#view:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div612{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 500px;
width: 650px;

}
#show{
  margin-left: 500px;
  margin-top: 5px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgb(82, 209, 168);
  color: rgb(82, 209, 168);
  font-size: 19px;
  background-color: white;
}
#show:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }

#div7{
margin-left: 60px;

}
#div71{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;

}
#div711{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 00px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div711:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div712{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div712:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div713{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div713:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div8{
margin-left: 60px;

}
#div81{
margin-top: 50px;
margin-bottom: 50px;
margin-left: 0px;
margin-right: 50px;
border: 2px solid white;

}
#div82{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;

}
#div811{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 00px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div811:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div812{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div812:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div813{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div813:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div814{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 300px;

}
#div814:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div9{
margin-left: 60px;

}
#div91{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;

}
#div911{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 00px;
margin-right: 20px;
height: 200px;
width: 200px;

}
#div911:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div912{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 200px;
width: 200px;

}
#div912:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div913{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 200px;
width: 200px;

}
#div913:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div914{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 200px;
width: 200px;

}
#div914:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div915{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 200px;
width: 200px;

}
#div915:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div916{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 200px;
width: 200px;

}
#div916:hover{
transform: scale(1.01);
box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
z-index: index 2;
}
#div10{
margin-left: 60px;

}
#div101{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;

}
#div1011{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 00px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1011:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div1012{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1012:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div1013{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1013:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div102{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;

}
#div1021{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 00px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1021:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div1022{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1022:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div1023{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1023:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div103{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;

}
#div1031{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 00px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1031:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div1032{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1032:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div1033{

border: 2px solid white;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
height: 200px;
width: 450px;

}
#div1033:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  z-index: index 2;
  }
#div11e{
margin-left: 60px;

}
#div11e1{
display: flex;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;

}
#div11e11{

border: 2px solid white;
margin-top: 10px;
margin-bottom: 40px;
margin-left: 40px;
margin-right: 20px;
height: 380px;
width: 420px;

}
#div11e12{

border: 2px solid white;
margin-top: 10px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 420px;

}
#div11e13{

border: 2px solid white;
margin-top: 10px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
height: 380px;
width: 420px;


}
#div12t{
background-color: rgb(235, 238, 239);
text-align: center;
padding: 40px;
}
#div13r{
display: flex;
margin-left: 150px;

}
#div13r1{
border: 2px solid white;
margin-top: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 300px;
width: 200px;

}
#div13r2{
border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 300px;
width: 200px;

}
#div13r3{
border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 300px;
width: 200px;

}
#div13r4{
border: 2px solid white;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
height: 300px;
width: 200px;

}
#div13r5{
  border: 2px solid white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
  height: 300px;
  width: 200px;
  
}
#div13r2 a{
text-decoration: none;
color: rgb(54, 54, 54);
}
#div13r3 a{
text-decoration: none;
color: rgb(54, 54, 54);
}
#div13r4 a{
text-decoration: none;
color: rgb(54, 54, 54);
}
#div13r5 a{
  text-decoration: none;
  color: rgb(54, 54, 54);
}
#div14{
  text-align: center;
  display: flex;
}
#div141{
  margin-left: 500px;
}
#div142{
  margin-left: 30px;
  margin-top: 10px;
}
#div15{
  text-align: center;
}
#emailsubmit{
border-radius: 5px;
padding: 2px;
height: 30px;
width: 350px;
font-family: Georgia, 'Times New Roman', Times, serif;
border: 1px gray solid;
color: black;

}
#subscribe{
border-radius: 5px;
padding: 2px;
height: 35px;
width: 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(82, 209, 168);
border: 1px gray solid;
color: white;

}